# This file contains example environment variables for the project.
# Replace placeholder values with your actual credentials.

# PostgreSQL database
DB_DATABASE_NAME=postgres
DB_USERNAME=<your-db-username>
DB_PASSWORD=<your-db-password>

# pgAdmin
PGADMIN_MAIL=<your-pgadmin-email>
PGADMIN_PW=<your-pgadmin-password>

# 42 API Authentication
FT_CLIENT_ID=<your-client-id>
FT_CLIENT_SECRET=<your-client-secret>
REDIRECT_URL=https://f1r3s12:3000/auth/42/callback

# URLs
FRONTEND_URL=http://f1r3s12:3001/
FRONTEND_LOGIN_URL=http://f1r3s12:3000/auth/42/login
BACKEND_URL=https://f1r3s12:3000/

# React Environment
REACT_APP_BACKEND_URL=${BACKEND_URL}
REACT_APP_FRONTEND_URL=${FRONTEND_URL}
REACT_APP_FRONTEND_LOGIN_URL=${FRONTEND_LOGIN_URL}

# JWT Authentication
JWT_SECRET=<your-jwt-secret>
JWT_EXPIRE_IN=15d

TWO_FACTOR_AUTHENTICATION_APP_NAME=Transcendence

# Optional Settings
TZ=Europe/Amsterdam
